#myFace {
    border-radius: 50%;
    max-width: 700px;
}

#contact-card {
    background-image: url(./img/marble.jpg);
    font-family: 'Source Code Pro', monospace;
    margin: 5vh 5vw;
    border: 1px solid white
}

#contact-icons {
    content: icon;
}

.contact-stuff {
    color: white;
}