@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

#root {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  font-family: 'Source Code Pro', monospace;
}

#header {
  padding-top: 2vh;
  font-family: 'Source Code Pro', monospace;
}

.black {
  background-color: black;
}

#logo {
  width: 10rem;
}

.proj-preview {
  border-radius: 5px;
}

.proj-title {
  text-decoration: underline;
}

.proj-desc {
}

.proj-row {
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
}