body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.black {
  background-color: black;
}

#logo {
  width: 10rem;
}